body {
    font-family: Verdana;
}
#header {
    background-color:#C40D42;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:750px;
    float:left;
    padding:10px;
}
#footer {
    background-color:#C40D42;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

#LeftNavigation ul
{
    list-style:none;
    margin:0;
    padding:0;
    width:auto;
}
#LeftNavigation a
{
    color: #C40D42;
    text-decoration: none;
    white-space: nowrap;
    display:block;
}
ul.level1.selected
{
    /*Defines the appearance of active menu items. */
    background-color:white;
    color: #C40D42;
    padding-right: 15px;
    padding-left: 8px;
}
a.level1:hover
{
    /* Defines the hover style for the main and sub items. */
    background-color: #509EE7;
}
.productname{
    color: #C40D42;
    font-size: x-large;
}
.inlinelink{
    margin-left:25px;
    color: #C40D42;
}
.listprice {
    float: right;
    color: #C40D42;
    font-size: x-large;
    text-align: center;
}
.listtitle{
    background-color: #F8B6C9;
    padding:5px;
    width:750px;
}

